*{
  padding: 0px;
  margin: 0px;
}
/*resets padding and margin*/

ul{
  padding-left: 20px;
}
/*indents each successive ul by 20px*/

h1{
  color: white;
}



#container{
  display: inline-block;
  background-color: #1C345E;
  height: 650px;
  width: 970px;

}

#redhead{
  background-color: #CE3036;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
}

#sidebar{
  background-color: #2A7D8C;
  height: 240px;
  width: 180px;
  border-radius: 18px;
  margin: 10px;
  padding: 5px;
  display: inline-block;
  /*font-size: 12px;*/
  /*text-align: center;*/
}

.purple{
  color:#426097;
}

.smallfont{
  font-size: 13px;
  padding: 10px;
}

#blackbox{
  background-color: black;
  height: 440px;
  width: 715px;
  vertical-align: top;
  display:inline-block;
  border-radius: 18px;
  padding: 10px;
  color: white;
  margin:10px;
  /*display: inline-block;*/
}

#graybar{
  padding: 15px;
  vertical-align: bottom;
}
